<!DOCTYPE html >
<html ng-app="dialog"  >
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/dialog.css">
    <link rel="stylesheet" type="text/css" href="../libs/jquery/css/jquery-ui.min.css">
    <link href="../libs/emojify/emojify.css" rel="stylesheet" type="text/css">
    <script src="../libs/jquery/jquery.min.js"></script>
    <script src="../libs/jquery/jquery-ui.min.js"></script>
    <script src="../libs/angular/angular.min.js"></script>        
    <script src="../libs/emojify/emojify.js"></script>
    <script type="text/javascript" src="../libs/MathJax/MathJax.js?config=TeX-MML-AM_HTMLorMML-full"></script>
    <script type="text/x-mathjax-config">  
    MathJax.Hub.Queue(function () {
    MathJax.Hub.Config({
      showMathMenu:false,
      tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] }
    });
    document.getElementById("hide_page").style.visibility = "";

  });
    emojify.setConfig({emojify_tag_type:'div'});
  </script>

    <script>
 
     var options_height = 0;
     var predefined_size = false;
     
    function begin_render()
    {
      
      angular.element($("body")).scope().write_instantly = false;
      $(".blue_dialog_rendered").removeClass("blue_dialog_rendered");
      $(".blue_dialog").removeClass("blue_dialog_fadein_effect");
      $("#dialog_text").removeClass("dialog_text_effect");
      $('#radio_toolbar').addClass('hidden_element');     
      
      setTimeout(
      function() {
        $(".blue_dialog").show();
        $(".blue_dialog").addClass("blue_dialog_fadein_effect"); 
        $("#dialog_text").addClass("dialog_text_effect");                  
        }, 1
      ); 
      
      
      setText("");
      setOptions([]);                             
      
    }
    
    function finish_render()
    {
      $('.hidden_element').removeClass('hidden_element');      
      MathJax.Hub.Typeset();
      
      
      var radio = $("input").first();
      if (radio)
        radio.focus();
      emojify.run();      
      
      $('.blue_dialog').addClass("blue_dialog_rendered");
      angular.element($("body")).scope().written_time = new Date().getTime()
      setTimeout(function() {
        $('.hidden_math').removeClass('hidden_math');
      },
      500);
    }
    
    function embrace_math(text)
    {
    	if (typeof(text) == "string") {
	      if((text.startsWith("`") && text.endsWith("`")) || (text.startsWith("$") && text.endsWith("$")))
	        text = "<span class='hidden_math'>" + text + "</span>"	        
    	}
      return text;
    }
    
    function animate_text()
    {
      
      var  textobj = $("#dialog_text");
      var actual_text = $("#dialog_text").html();
      var remaining_text = $("#dialog_text").attr("data-text");
      var start_pos = 0;
      var end_pos = 1;
      if (angular.element($("body")).scope().write_instantly) {
    	  part =  replaceTolkens(remaining_text);
    	  remaining_text = "";
      }
      else if (remaining_text.length > 0) {
        var part =  remaining_text.substr(0, 1);
        var nextChar = remaining_text.substr(1, 1);
        var tolken = part+nextChar;
        
        if (tolken == "<%") {
        	start_pos = 2;
        	end_pos =  remaining_text.indexOf("%>")
        	part = remaining_text.substr(start_pos, end_pos - start_pos)
        	end_pos += start_pos;
        }
        else if (tolken == "<|") {
            start_pos = 2;
            end_pos =  remaining_text.indexOf("|>")
            part = "<"+remaining_text.substr(start_pos, end_pos - start_pos)+">"
            end_pos += start_pos;
        }
        else if (tolken == "<:") {
            start_pos = 2;
            end_pos =  remaining_text.indexOf(":>")
            part = ":"+remaining_text.substr(start_pos, end_pos - start_pos)+":"
            end_pos += start_pos;
        }
        else if (part == ' ') {        	 
        	  start_pos = 1;
            end_pos =  remaining_text.substr(1, remaining_text.length - 1) .indexOf(" ");
            if (end_pos == -1)
            	end_pos = remaining_text.length - 1;
            var tolken_pos = remaining_text.substr(1, remaining_text.length - 1) .indexOf("<");
            if (tolken_pos != -1 && tolken_pos < end_pos)
            	end_pos = tolken_pos;
            part = remaining_text.substr(0, end_pos + 1);            
            end_pos += start_pos; 
        }
        
        
        
        if (end_pos < remaining_text.length)
          remaining_text = remaining_text.substr(end_pos, remaining_text.length - end_pos);
        else
          remaining_text = "";        
        
                        
      }            
      
      actual_text += embrace_math(part);
      $("#dialog_text").attr("data-text", remaining_text);          
      $("#dialog_text").html(actual_text);
      emojify.run();
      
      var part_time = 50;
      
      
      if (part.endsWith("...")) 
        part_time += 500;
                   
      if (remaining_text.length > 0)
        setTimeout(animate_text, part_time);
      else
        finish_render();
    }
    
    function verifyFocus()
    {
      var obj = $("input:focus");
      
      if (obj.length == 0) {
        obj = $("input:checked");    
        if (obj.length > 0) 
          obj.focus();
      }  
      setTimeout(verifyFocus, 100);
    }
    
    function replaceTolkens(text)
    {
    	  function replaceAll(str, find, replace) {
    		  var result = str.replace(find, replace);
    		  if (result != str)
    			  return replaceAll(result, find, replace);
    		  return result;
    		}
    	  
    	  text = replaceAll(text, "<%","");
    	  
    	  text = replaceAll(text, "%>", "");
    	  text = replaceAll(text, "<|", "<");
    	  text = replaceAll(text, "|>", ">");
    	  text = replaceAll(text, "<:", ":");
    	  text = replaceAll(text, ":>", ":");
    	  console.log(text);
    	  return text;
    	   
    }
    
    function setText(dialog_text) 
    {
      $("#dialog_text").html("");
      $("#dialog_text").attr("data-text", dialog_text);
      $("#hidden_dialog_text").html(replaceTolkens(dialog_text));            
    }
    
    function setOptions(dialog_options) 
    {
      options_height = dialog_options.length * 70;
      if (options_height > 0)
    	  options_height += 30;
      
      for (var i = 0; i < dialog_options.length;i++)
    	  dialog_options[i] = replaceTolkens(dialog_options[i]);
      
      var scope = angular.element($("body")).scope();
      scope.$apply(function() {        
        scope.dialog_options = angular.copy(dialog_options);        
        scope.selected_option = angular.copy({"name":dialog_options[0]});
        computeFinalSize()
      });      
    }
    
    function Answered(opt)
    {
      $(".blue_dialog").hide();
      var script = "sender:answered(json.decode('"+JSON.stringify(opt)+"'))";
      if (window.ExecuteScript)
        window.ExecuteScript(script);
      else
        console.log(script);
    }
        
    function getSelectedOption()
    {
      var scope = angular.element($("body")).scope();
      var selected_value = scope.selected_option.name || ""; 
      var selected_index = -1;
      for(var i = 0; i < scope.dialog_options.length;i++) {
    	  if (scope.dialog_options[i] == selected_value) {
    		  selected_index = i;
    		  break;
    	  }
      }

      return {"value":selected_value, "index":selected_index};
    }
    
    function setPosition(position_class)
    {
    	position_class = position_class.split(' ')
    	
      if (position_class[0] == "")
        position_class[0] = "north";
        
      $(".blue_dialog").removeClass("north");
      $(".blue_dialog").removeClass("northeast");
      $(".blue_dialog").removeClass("east");
      $(".blue_dialog").removeClass("southeast");
      $(".blue_dialog").removeClass("south");
      $(".blue_dialog").removeClass("southwest");
      $(".blue_dialog").removeClass("west");
      $(".blue_dialog").removeClass("northwest");
      $(".blue_dialog").removeClass("center");
      
      $(".blue_dialog").addClass(position_class[0]);
      
      predefined_size = position_class.length == 3;
      
      if (predefined_size) {
    	  $(".blue_dialog").width(position_class[1]);
    	  $(".blue_dialog").height(position_class[2]);
      }
    	else {
        $(".blue_dialog").width("");
        $(".blue_dialog").height("");
      }
    }
    
    function computeFinalSize()
    {       
    	if (predefined_size)
    		 return;
      setTimeout( function() {
        
          $("#dialog_message_container").width($("#final_size_simulation").width())
          
          //options_height = $("#radio_toolbar").height();
          
          var div_height = $("#final_size_simulation").height();
          $("#dialog_message_container").height(div_height + options_height);          
        },
      100)
    }
    
    function Setup(title, text, options, position_class)
    { 
      setPosition(position_class);    
      begin_render();
      
      
      setText("<\%" + replaceTolkens(title) + "\%>: "+text);
      setOptions(options);                            
      
      setTimeout(function() {
        computeFinalSize();  
        animate_text();      
      }, 10);
    }
    
    var app = angular.module('dialog', []);
    app.controller('RegisterDataController', ['$scope', function($scope) {
      var audio_global = new Audio('../sfx/select.wav');     
      
      $scope.changed = function() {      
        if (audio_global)
          audio_global.play();
      }
      
      
    }]);
    
    </script>
  </head>
  <body ng-controller="RegisterDataController" ng-cloak >
    <div id="hide_page" style="visibility:hidden">  
      <div class="container">
        <div  id="final_size_simulation" class="blue_dialog textnoselect always_hidden_element">                              
          <p id = "hidden_dialog_text" class="dialog_text"></p> 
        </div>      
        <div id="dialog_message_container" class="blue_dialog blue_dialog_fadein_effect north textnoselect"  ondblclick="DoAnswer()">                              
          <p id = "dialog_text" class="dialog_text"></p> 
          <form>
            <div id="radio_toolbar" class="hidden_element" >
              <div ng-repeat="opt in dialog_options">
                <input type="radio" name="radio_options" id = "radio_{{$index}}" value="{{opt}}" ng-change="changed()" ng-model="selected_option.name"/>                              
                <label for = "radio_{{$index}}"  >{{opt}}</label>            
              </div>
            </div>          
          </form>   
          
        </div>
      </div>
    </div>  
  <script>  
  
  function DoAnswer() 
  {
    var scope = angular.element($("body")).scope();
    if ($(".blue_dialog_rendered").length > 0) {
      var currentTime = new Date().getTime();
      if(currentTime - scope.written_time > 150)
        Answered(getSelectedOption());
    }
    else
      scope.write_instantly = true;
	  
  }
  
  $("body").keydown(function(event) {
    if (event.which == 32 || event.which == 13)  {      
        DoAnswer();
    }        
  });        
 
 verifyFocus();
 </script>
  </body>

 
</html>